$cream: #FBD6D2;
$accent: #5e45a5;
$gray: #666666;
$light-grey: #adadad;
$idk: #e9f4fb;
$basic:#F190B7;
$light: #fafafa;
$black: #000000;
$red: #fd2e24;
$shadow: #949494;
$yellow: rgb(255, 241, 47);
$cream2: #fce4e17e;